@font-face {
    font-family: 'OKCHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 색상표 */
:root {
    --color-green : #40A76F;
    --color-darkgreen : #225439;
    --color-ivory : #F9F9F9;

}

html, head, body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1000px;
}

a:active,
a:hover {
    outline: none;
}
    
a {
    color: balck;
    text-decoration: none;
    cursor: pointer;
}
    
a:hover {
    text-decoration: none;
}

.join-content{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.logo_top{
    font-family: 'OKCHAN';
    color: var(--color-darkgreen);
    font-size: 30px;
}

.logo_top_span{
    color: var(--color-green);
}

.join_box{
    display: block;
    width: 476px;
    height: 1340px;
    background: rgba(249, 249, 249, 0.75);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 70px;

    margin-bottom: 50px;
}

.input1{
    margin: 0 auto;
    width: 328px;
    height: 65px;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(64, 167, 111, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
    text-indent: 10px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 20px;
}

.input2{
    width: 238px;
    height: 65px;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(64, 167, 111, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 35px;
    margin-bottom: 20px;
    text-indent: 10px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 20px;
}

.input3{
    margin: 0 auto;
    width: 328px;
    height: 65px;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(64, 167, 111, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 60px;
    margin-bottom: 20px;
    text-indent: 10px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 20px;
}

.join_box input[type="password"]{
    font-family: '맑은 고딕';
    font-size: 14px;
    width: 328px;
}

.join_box input::placeholder{
    text-indent: 10px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 20px;
}

.join_box input:focus{
    outline: none;
}

.btn1{
    width: 85px;
    height: 72px;
    margin-left: 10px;
    background: rgba(64, 167, 111, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    font-family: 'ONE-Mobile-POP';
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.btnJoin{
    box-sizing: border-box;
    width: 396px;
    height: 65.5px;
    background: rgba(64, 167, 111, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 15px;
    border: none;
    font-family: 'ONE-Mobile-POP';
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.join_box p{
    font-family: 'ONE-Mobile-POP';
    font-size: 16px;
    line-height: 4;
    margin-left: 36px;
}

.sub_item{
    width: 30px;
    text-decoration: none;
    color: black;
}

.join_box p{
    display: flex;
    font-size: 18px;
    font-family: "ONE-Mobile-POP";
}

.input_user{
    margin: 0 auto;
}

.agree{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 20px;
}

.agree input{
    margin-right: 50px;
}

.agree span{
    display: inline-block;
    width: 200px;
    margin-right: 50px;
    text-align: left;
}

.join{
    justify-content: center;
}