.visit-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visit-content .top_logo {
    color: #286946;
    font-size: 24px;
    text-shadow: 2px 2px 2px var(--color-mint);
    margin-bottom: 20px;
}

.visit_box {
    box-sizing: border-box;
    width: 850px;
    background: rgba(249, 249, 249, 0.75);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
