@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
.header {
    height: 149px;
    min-height: 149px;
}

.logo {
    top: 30px;
}

nav {
    background: none;
    position: relative;
    top: 100px;
    min-height: 70px;
}

nav ul li a {
    color: white;
}

/* body */
.body-wrapper {
    padding: 0;
}

section {
    padding: 0;
}

.index_box {
    display: block;
}

/* title box */
.title_box {
    width: 100%;
    height: 300px;
    background-color: var(--color-lightgreen);
    display: block;
    text-align: center;
    padding: 20px;
}

.title {
    font-family: 'ONE-Mobile-POP';
    font-size: 30px;
    color: var(--color-darkgreen);
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(64, 167, 111, 0.5);
}

.title span {
    color: var(--color-green);
}

.text {
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 23px;
    font-weight: 700;
}

.darkgreen {
    color: var(--color-darkgreen);
}

.ask_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.ask_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 62px;
    background-color: white;
    border: 4px solid var(--color-mint);
    border-radius: 100px;
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 22px;
    font-weight: 700;
    margin-right: 44px;
    color: var(--color-darkgreen);
}

button p {
    padding-top: 5px;
}

.call {
    width: 22px;
    height: 22px;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--color-darkgreen));
    padding-top: 0;
    margin-right: 10px;
}

/* main box */
.main_box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 180px;
}

.category_box {
    margin-top: 60px;
}

.category_btn {
    width: 141px;
    height: 81px;
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 22px;
    font-weight: 300;
    color: var(--color-darkgreen);
    padding-top: 10px;
    border: 2px solid var(--color-lightgreen);
}

.green_btn {
    background-color: var(--color-lightgreen);
}

.white_btn {
    background-color: white;
}

/* faq box */
.faq_box {
    display: flex;
    flex-direction: column;
    width: 936px;
    margin-top: 60px;
    background-color: var(--color-ivory);
    padding: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 15px;
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 22px;
    font-weight: 300;
    align-items: center;
}

/* 스크롤바 */
.scroll_bar {
    height: 500px;
    overflow-y: scroll;
}

.scroll_bar::-webkit-scrollbar {
    width: 10px;
}

.scroll_bar::-webkit-scrollbar-thumb {
    /* 스크롤바의 길이 */
    height: 20%;
    /* 스크롤바의 색상 */
    background: var(--color-darkgreen);
    border-radius: 10px;
}

.que {
    position: relative;
    margin-top: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 23px;
    border-bottom: 1px solid var(--color-green);
    width: 850px;
}

.que::before {
    display: inline-block;
    font-size: 14px;
    color: #006633;
    margin: 0 5px;
}

.que.on>span {
    font-weight: bold;
    color: #006633;
}

.ans {
    display: none;
    overflow: hidden;
    font-size: 14px;
    width: 800px;
    
    background-color: var(--color-mint);
    padding: 27px 0;
}

.ans::before {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 5px;
}

.arrow_wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -90%);
}

.arrow-top {
    display: none;

}

.arrow-top > img {
    width: 20px;
    height: 20px;
    padding-right: 20px;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--color-darkgreen));
    transform: rotate(-90deg);
}

.arrow-bottom > img {
    width: 20px;
    height: 20px;
    padding-top: 1rem;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--color-darkgreen));
    transform: rotate(90deg);
}

.arrow-bottom {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/arrow.png);
}

.que.on .arrow-bottom {
    display: none;
}

.que.on .arrow-top {
    display: block;
}