@font-face {
    font-family: "OKCHAN";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ONE-Mobile-POP";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GangwonEduSaeeum_OTFMediumA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.hos_box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_box{
    margin-bottom: 40px;
}

.title{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    font-family: "ONE-Mobile-POP";
    color: #286946;
}

.title_color{
    color: #40A76F;
}

.img_box img{
    width: 578px;
    height: 353px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.hos_reservation{
    width: 936px;
    height: 2498px;

    background: rgba(249, 249, 249, 0.75);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.hos_mini_box{
    margin: 0 auto;
}

.hos_reservation_title{
    font-family: "ONE-Mobile-POP";
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.sub_title{
    font-family: "ONE-Mobile-POP";
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.user_info{
    font-family: "GangwonEduSaeeum_OTFMediumA";
    margin: 0 auto;
    width: 796px;
    height: 136px;
    background: rgba(64, 167, 111, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user_info p{
    text-align: center;
    font-family: "GangwonEduSaeeum_OTFMediumA";
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.calendar{
    position: relative;
    margin: 0 auto;
    width: 796px;
    background: rgba(64, 167, 111, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    color: #303533;
    padding-bottom: 20px;
}

.date_YN{
    position: absolute;
    top: 30px;
    right: 26px;
}

.YN_box{
    font-family: "ONE-Mobile-POP";
    font-size: 14px;
    font-weight: 300;
    width: 100px;
    height: 32px;

    background: rgba(255, 255, 255, 0.67);
    border-radius: 5px;
    padding: 10px 20px;
}

.calendar_title{
    text-align: center;
    font-family: "ONE-Mobile-POP";
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.YN_box:last-child{
    background: #B7DBC8;
}

/* 달력 */
.dateHead div {
  background: #D5E9DE;
  color: #555D59;
  text-align: center;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  font-family: "ONE-Mobile-POP";
}

.grid div {
  padding: .6rem;
  font-size: .9rem;
  cursor: pointer;
}

.noColor {
    background: #D5E9DE;
    border: 2px solid #8BC8A6;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 4.5rem;
  padding: .6rem .8rem;
  border-radius: 10px;
  background: #fff;
}

.cal_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* 좌우 버튼 */
.btn {
 display: block;
 width: 16px;
 height: 16px;
 border: 3px solid rgb(78, 78, 78);
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

/* ---- */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


.rap {
  max-width: 820px;
  padding: 0 1.4rem;
  margin-top: 1.4rem;
}

.dateHead {
  margin: .4rem 0;
}

.dateTitle{
    font-family: "ONE-Mobile-POP";
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
}