@font-face {
    font-family: "ONE-Mobile-POP";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 색상표 */
:root {
    --color-green: #40A76F;
    --color-darkgreen: #225439;
    --color-ivory: #F9F9F9;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: rgb(0, 0, 0, 0.6);
}

nav {
    margin-bottom: 30px;
}

.main_box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title box */
.title {
    font-family: 'ONE-Mobile-POP';
    font-size: 30px;
    color: var(--color-darkgreen);
    margin-top: 0;
}

.title span {
    color: var(--color-green);
}

.title_image_box img {
    width: 578px;
    height: 353px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

/* pickup box */
.pickup_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 936px;
    margin-top: 30px;
    background-color: var(--color-ivory);
    padding: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 15px;
    font-size: 20px;
    font-weight: bold;
}

.pickup_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 30px;
}

/* pickup items - 스크롤바 */
.scroll_bar {
    width: auto;
    height: 700px;
    overflow-y: scroll;
}

.scroll_bar::-webkit-scrollbar {
    width: 10px;
}

.scroll_bar::-webkit-scrollbar-thumb {
    height: 30%;     /* 스크롤바의 길이 */
    background: var(--color-darkgreen);    /* 스크롤바의 색상 */
    border-radius: 10px;
}


/* 각 item들 */
.pickup_item {
    margin: 0 20px 10px;
}

.items_image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.items_text {
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin: 20px;
}

.items_text span{
    font-weight: 300;
}

/* 픽업 예약 정보 */
.reserve_item {
    display: flex;
    margin-top: 50px;
}

.name_box, .phone_box{
    margin: 7px;
    width: 391px;
}

.sub_title {
    font-family: "ONE-Mobile-POP";
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

.name_box input, .phone_box input {
    display: block;
    margin: 0 auto;
    width: 391px;
    height: 65px;
    background: rgba(64, 167, 111, 0.2);
    border-radius: 15px;
    text-indent: 10px;
    font-family: 'GangwonEdu_OTFLightA';
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

/* 픽업 날짜 & 시간 선택 */
.pickup_date {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.select_item{
    display: flex;
    justify-content: center;
}

.date_select_box {
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 20px;
    font-weight: 300;
    width: 256px;
    height: 47px;
    background: rgba(64, 167, 111, 0.2);
    border-radius: 10px;
    padding-top: 10px;
    margin: 0 10px;
}

/* 픽업 안내사항 */
.pickup_text {
    width: 750px;
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 17px;
    font-weight: 300;
    color: var(--color-gray);
    margin-left: -40px;
    margin-top: 50px;
}

.pickup_text p {
    margin: 10px 0;
}


/* 개인정보보호법 동의 */
.pickup_btn_box{
    display: block;
    align-items: baseline;
    text-align: left;
}

.pickup_btn_box span {
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 20px;
    font-weight: 300;
    color: var(--color-gray);
}

/* 픽업 예약하기 버튼 */
.pickup_btn button {
    width: 796px;
    height: 67px;
    margin-top: 30px;
    background: #286946;
    border-radius: 15px;
    color: #fff;
    font-family: 'ONE-Mobile-POP';
    font-size: 25px;
}
